In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

In [2]:
df=pd.read_csv('Iris.csv')
df

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df.isnull().sum()

sepal length in cm    0
sepal width in cm     0
petal length in cm    0
petal width in cm     0
class                 0
dtype: int64

In [4]:
df1=df.replace('?',pd.NA)
df1.isnull().sum()

sepal length in cm    0
sepal width in cm     0
petal length in cm    0
petal width in cm     0
class                 0
dtype: int64

In [5]:
out=np.abs((df1-df1.mean())/df1.std())
lier=out>3
print(lier.sum())
df2=df1[~lier.any(axis=1)]
df2

class                 0
petal length in cm    0
petal width in cm     0
sepal length in cm    0
sepal width in cm     1
dtype: int64

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
df['class'].unique

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [24]:

DataFrame3 = df2.copy()  # Make a copy of the original DataFrame

DataFrame3.loc[DataFrame3['class'] == 'Iris-setosa', 'class'] = "2"
DataFrame3.loc[DataFrame3['class'] == 'Iris-versicolor', 'class'] = "3"
DataFrame3.loc[DataFrame3['class'] == 'Iris-virginica', 'class'] = "4"

DataFrame3['class'] = pd.to_numeric(DataFrame3['class'], errors='coerce')

DataFrame3

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,2
1,4.9,3.0,1.4,0.2,2
2,4.7,3.2,1.3,0.2,2
3,4.6,3.1,1.5,0.2,2
4,5.0,3.6,1.4,0.2,2
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,4
146,6.3,2.5,5.0,1.9,4
147,6.5,3.0,5.2,2.0,4
148,6.2,3.4,5.4,2.3,4
149,5.9,3.0,5.1,1.8,4

In [8]:
X=df.drop('class',axis=1)
Y=df['class']

In [12]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=46)

In [13]:
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [14]:
r1=reg.predict(x_test)
acc1=accuracy_score(y_test,r1)
print(acc1)

0.9

In [15]:
reg=GaussianNB()
reg.fit(x_train,y_train)

GaussianNB()

In [17]:
r2=reg.predict(x_test)
acc2=accuracy_score(y_test,r2)
print(acc2)

0.8666666666666667